- @posts.each do |p| 
  .post
    .head
      %h2
        %a{:href=>"/#{p.slug}"}
          = p.title
    .body
      != p.body
    .foot
      .row
        .fivecol
          %a{:href=> "/#{p.slug}#disqus_thread", 'data-disqus-identifier'=>p.slug} 
            Comments
          %img.comment_icon{:src=>'/images/comment.png'}
        .twocol
          &nbsp;
        .twocol
          %a.twitter-share-button{:href => "http://twitter.com/share", :data => {:url => url("/#{p.slug}"), :text => p.title, :count => 'horizontal', :via => 'carlhoerberg'}} Tweet
          %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
        .threecol.last.postinfo
          =Time.parse(p.posted).strftime 'Posted at %Y-%m-%d %H:%M'
:javascript
  var disqus_shortname = 'carlhoerberg-blog';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
